body {
    background: #faebd7;
}
/* Nav */

nav {
    background: #fff;
}

.menu-item {
    display: inline-block;
    padding: 15px 50px 15px 50px;
    font: 2em Serif;
}

.menu-item:hover {
    background: orange;
    color: #fff;
}

@media only screen and (max-width: 670px) {
    .menu-item {
        font: 1em "Open Sans" Serif;
    }
}

ul {
    list-style: none;
    margin-bottom: 0;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: inherit;
}
/* Primary Header */

.primary-header {
    background: #c6dbed;
    color: rgb(157, 5, 5);
}
/* logo */

figure {
    margin: 10px 0 10px 0;
    padding: 0;
}

.circle {
    border-radius: 50%;
}
/* Main */

main {
    background: #1199c3;
}
/* featured-works */

.le {
    padding-left: 50px;
}
/* Footer */

footer {
    background: #294860;
    height: 400px;
}
