<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My profile page.">
    <title>Patrick's Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="container-fluid">
        <!-- nav -->
        <nav class="row">
            <ul class="col-xs-12">
                <a href="#about">
                    <li class="menu-item">About Me</li>
                </a>
                <a href="#feature">
                    <li class="menu-item">Projects</li>
                </a>
                <a href="#contact">
                    <li class="menu-item">Contact</li>
                </a>
                <a href="#">
                    <li class="menu-item">Blog</li>
                </a>
            </ul>
        </nav>
        <!-- /nav -->
        <!-- primary header -->
        <header id="about" class="row primary-header">
            <section class="col-xs-12 text-center white-fade">
                <h1 class="name-font">Patrick Orth</h1>
                <h4 class="title-font">Front-End/Full Stack Wizard in Training</h4>
                <div class="row">
                    <figure class="col-xs-12 col-sm-4 text-center">
                        <img class="img-responsive center-block circle" src="images/headshot.jpg" alt="my profile picture">
                        <figcaption>Hey! That's me!
                            <br>Why am I in a circle?</figcaption>
                    </figure>
                    <div class="col-xs-12 col-sm-4 text-primary">
                        <h3>About Me:</h3>
                        <p>Web development allows me to solve puzzles, think differently, creatively and have fun everyday! </p>
                        <p>I finished the <a href="#">Front-End Nanodegree</a> from Udacity and am sharping my skills by learning other frameworks and solo projects. Plus, I'm participating in open source projects.</p>
                        <p>I'm currently learning full stack web development through Udacity's Full Stack Nanodegree program, learning tech skills industry leaders want.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-primary">
                        <h3>Techincal Skills:</h3>
                        <p><strong>Languages</strong>: JavaScript, HTML5, CSS3, Python.</p>
                        <p><strong>Frameworks/Libraries</strong>: jQuery, Knockout.js (MVVM), Backbone.js (MV*), Bootstrap, Jasmine, Gulp.</p>
                        <p><strong>Other</strong>: Git/GitHub, Sublime.</p>
                    </div>
                </div>
            </section>
            <!-- /section -->
        </header>
        <!-- /header -->
        <!-- main -->
        <main class="row">
            <header id="feature" class="col-md-12 featured-header">
                <h2>Featured Works</h2>
                <button class="text-primary">Front-End Projects</button>
                <button class="text-primary">Full Stack Projects</button>
            </header>
            <!-- /header -->
            <div class="col-md-12">
                <section class="text-center projects row">
                </section>
            </div>
            <script id="project-template" type="text-template">
                <img src=<%- image %> alt="
                <%- title %> image" class="center-block img-responsive img-size">
                    <h4><%- title %></h4>
                    <a href=<%- url %> target="_blank">
                    LINK
                </a>
            </script>
        </main>
        <!-- main end -->
        <!-- footer -->
        <footer id="contact" class="row grey">
            <div class="col-md-12">
                <h3 class="grey">Contact</h3>
                <hr>
                <ul>
                    <li>Email</li>
                    <li>LinkedIn</li>
                    <li>Github</li>
                    <li>Twitter</li>
                </ul>
            </div>
        </footer>
        <!-- footer end -->
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="js/models/project.js"></script>
    <script src="js/collections/project-list.js"></script>
    <script src="js/views/project-view.js"></script>
    <script src="js/views/list-view.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
